:root {
	--cell-size: 100px;

	--color: #81c3fd;
	/* for hover */
	--color-set: #0275d8;
	/* when set */
	--l: 10px;
	/* X line-width */
}

body {
	margin: 0;
	--winningComb: rgb(251, 6, 6);
}

.board {
	width: 100vw;
	height: 50vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	color: rgb(0, 56, 210);
	font-size: 100px;
}

.winning-message {
	text-align: center;
	font-size: 30px;
}

#currPlayerToPlay {
	text-align: center;
}